<!DOCTYPE html>
<html>
    <title><%= book.name %></title>
<head>
    <!--Below in styles I define my settings for the navgation panel, which is margined to the left side of the screen and has a black background with
  with white colored text-->
  <link rel="stylesheet" href="/css/style.css">
<!--Below are the links for the navigation panel leading to different pages-->
</head>
<body>   
    <%- include('navigation') %>
        <!--below I have the book image and text and styles-->
    <div style="margin-left:20%;padding:1px 16px;height:1000px;">
        <h1><%= book.name %></h1>       
            <img src="/images/<%= book.book_image %>" style="float:left" height="500px" width="350px">
            <!--below I have the details for the book-->
            <p>
                <%= book.name %>
                <br>
                Book by <%= book.author_name %>
                <p><%= book.description %></p>
            </p>
        </div>
    </body>
</html>